* {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #6bdd97;
    position: sticky;
    top: 0;
    z-index: 5;

    nav {
        .contenedorNavbar {
            display: flex;
            justify-content: space-between;
            
            .logo {
                width: 4rem;
                border-radius: 10px;
                border: black 2px solid;
                margin: 1rem;
            }

            div {
                #iconoCarrito {
                    font-size: 30px;
                    border-radius: 5px;
                    border: white 2px solid;
                    color: black;
                }
                .contadorCarrito {
                    color: white;
                    margin: 0;
                    background-color: #1e99a0;
                    height: 24px;
                    width: 24px;
                    border-radius: 100%;
                    text-align: center;
                    font-size: 17px;
                    font-weight: 500;
                }
            }
        }
    }
}


main{
    background-image: url('imagenes/fondoformul.jpg');
    padding-top: 2rem;
    padding-bottom: 2rem;
        .form-register{
            width: 30rem;
            background: #24303c;
            padding: 2rem;
            margin: auto;
            border-radius: 4px;
            color: white;
            box-shadow: 7px 13px 37px #000;

            h4{
                font-size: 20px;
                text-align: center;
                margin-bottom: 1rem;
            }

            .controls{
                width: 100%;
                background: #24303c;
                padding: 1rem;
                border-radius: 4px;
                margin-bottom: 1rem;
                border: 1px solid #1f53c5;
                color: white;
            }

            p{
                height: 4rem;
                text-align: center;
                line-height: 4rem;
            }

            a{
                color: white;
                text-decoration: none;

            }
            a:hover{
                color: white;
                text-decoration: underline;
            }

            .boton-{
                width: 100%;
                background: #1f53c5;
                padding: 1rem;
                color: white;
                margin-bottom: 1rem;

            }
        }
    
}

@media only screen and (min-width: 300px) and (max-width: 586px) {
    main{
            .form-register{
                width: 18rem;
            }
        
    }
}