header {
    position: sticky;
    top: 0;
    z-index: 5;

    nav {
        .contenedorNavbar {
            display: flex;
            justify-content: space-between;

            .logo {
                width: 4rem;
                border-radius: 10px;
                border: black 2px solid;
                margin: 1rem;
            }
                div {
                    div {
                        #iconoCarrito {
                            font-size: 30px;
                            border-radius: 5px;
                            border: white 2px solid;
                            color: black;
                        }
                    }
                }
            }
        }
    }