.main-index {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    .section1 {
        color: black;
        .productosEnCarrito{
            color: black;
            display: flex;
            justify-content: space-between;
        }

        h5 {
            color: black;

        }
    }

    .section2 {
        div {
            h2 {
                text-align: center;
            }
            .contmaspedidos{
                display: flex; 
                justify-content: space-evenly;
                gap: 30px;
                flex-wrap: wrap;
                padding: 0 5rem;
                .cardComidas {
                    width: 18rem;
                    border:black solid 3px;
                    .imgComidas {
                        height: 200px;
                        object-fit: cover;
                    }
                    .cuerpoCard {
                        
                        .tituloComida {
                            color:black;
                            font-size: 20px;
                        }
                        .precioComida {
                            @extend .tituloComida; 
                            font-size: 15px;
                            margin: 1.5rem 0;
                        }
                        .btnAgregarCarrito {
                            background-color: #1e99a0;
                            color:#FFFFFF;
                            width: 100%;
                            margin: 0 auto;
                            &:hover {
                                background-color: #2c4b4d;
                            }
                        }
                    }
                }
            }
        }
    }

    section {
        text-align: center;

        div {

            .cardEspecialidad {
                position: relative;
                left: 32%;
                width: 30rem;

                .cardFondo {
                    background-color: blue;
                }
            }
        }
    }


    aside {
        position: sticky;
        bottom: 1rem;
        width: max-content;
        background-color: none;
        border-radius: 50%;

        .imgaside {
            width: 4rem;
        }
    }
}